    <div class="detail" *ngFor="let product of filterProducts">
        <div class="detail-container">
            <section>
            <div>  
                <p-image
                    [preview]="true"
                    class="notebook-image"
                    [src]=product.images
                    alt="logo"
                  >
                </p-image>
                <div class="images-carousel">
                    <p-image
                    *ngFor="let imageDetail of product.detailImage"
                    [preview]="true"
                    class="detai-image"
                    [src]=imageDetail.image
                    alt="logo"
                  >
                </p-image>
                </div>
            </div>
            </section>
            <section>
                <div>
                    <p class="title-detail">{{product.name}}</p>
                    <p class="sub-title-detail">Equipos y Notebooks > Notebooks > Thunderobot
                    </p>
                    <div class="line"></div>
                    <div ><span class="code-detail">{{product.code}} ID:{{product.id}}</span></div>
                    <div class="line"></div>
                    <p class="price-detail">Precio especial <span>${{ formatedPrice(product.price)}}</span></p>
                    <div class="quotas-detail">
                        <img class="image-logo" src="./assets/images/logo.png" alt="logo">
                        <div class="quotas-title">12 Cuotas de: <span>${{ roundPrice(product.price) }}</span></div>
                        <div class="quotas-subtitle">Precio de lista {{formatedPrice(product.price *2)}}</div>
                    </div>
                    <div class="line"></div>
                    <div class="warranty-title">
                        <div class="icon-detail"><i class="pi pi-shield" style="font-size: 1rem"></i> 
                            Garantia - 12 meses
                        </div>
                        <div class="icon-detail"><i class="pi pi-check" style="font-size: 1rem"></i> 
                            Stock disponible
                        </div>
                        <div class="icon-detail"><i class="pi pi-truck" style="font-size: 1rem"></i> 
                            Envios a todo el pais</div>
                    </div>
                    <div class="line"></div>
                    <button class="button-detail" (click)="addToCart(product)">Agregar al carrito</button>
                    <div class="toast-detail">
                        <p-toast></p-toast>
                    </div>
                </div>
             </section>
        </div>
    </div>
