<div class="home">
  <div class="carrousel-image">
    <p-image
      [preview]="true"
      class="image-logo"
      src="./assets/images/homeImage.png"
      alt="logo"
    ></p-image>
  </div>
  <h1 class="title-first">Ultimas novedades</h1>
  <div class="notebook-wrapper" *ngFor="let product of products">
    <div>
        <p-image
        [preview]="true"
        class="notebook-image"
        [src]=product.images
        alt="logo"
      ></p-image>
    </div>
    <div>
        <h1 class="title-second">Caracteristicas</h1>
        <p class="description-notebook">{{product.characteristics}}</p>
        <h1 class="title-second">Almacenamiento</h1>
        <p class="description-notebook">{{product.description}}</p>
        <div class="button-wrapper">
          <button [routerLink]="'/productos/' + product.id" class="button-home">Ver producto</button>
        </div>
    </div>
  </div>
</div>
