<nav>
    <div class="logo-wraper">
        <a routerLink="./">
            <img class="image-logo" src="./assets/images/logo.png" alt="logo">
        </a>
        <button class="button-detail"><i class="pi pi-user" style="font-size: 1rem;margin-right: 10px;"></i>Iniciar sesion</button>
        <i class="pi pi-shopping-cart" style="font-size: 1.5rem;color: #fd611a;;margin-left: 10px;"></i>
    </div>
<div class="navbar-wrapper">
 
    <div class="navbar-links">
        <a class="nav-link active" aria-current="page" routerLink="./">Productos</a>
        <a class="nav-link active" aria-current="page" routerLink="./ayuda">Ayuda</a>
    </div>
</div>
</nav>