<nav>
    <div class="logo-wraper">
        <a routerLink="./">
            <img class="image-logo" src="./assets/images/logo.png" alt="logo">
        </a>
        <button class="button-detail"><i class="pi pi-user" style="font-size: 1rem;margin-right: 10px;"></i>CERRAR SESION</button>
        <div style="position: relative;">
            <div class="count-cart" *ngIf="items.length">{{items.length}}</div>
            <i class="pi pi-shopping-cart" routerLink="./carrito" style="font-size: 1.5rem;color: #fd611a;margin-left: 10px;cursor: pointer;"></i>
        </div>
    </div>
<div class="navbar-wrapper">
    <div class="navbar-links">
        <a class="nav-link active" aria-current="page" routerLink="./">Inicio</a>
        <a class="nav-link active" aria-current="page" routerLink="./productos">Productos</a>
        <a class="nav-link active" aria-current="page" routerLink="./nosotros">Nosotros</a>
        <a class="nav-link active" aria-current="page" routerLink="./ayuda">Ayuda</a>
    </div>
</div>
</nav>