<nav>
<div class="navbar-wrapper">
    <a  href="#">
        <img class="image-logo" src="./assets/images/logo.png" alt="logo">
    </a>
    <div class="navbar-links">
        <a class="nav-link active" aria-current="page" href="#">Productos</a>
        <a class="nav-link active" aria-current="page" href="#">Arma tu PC</a>
        <a class="nav-link active" aria-current="page" href="#">Ayuda</a>
        <a class="nav-link active" aria-current="page" href="#">Iniciar sesion</a>
    </div>
</div>
</nav>