
.image-logo{
    width: 400px;
}

.navbar-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.navbar-wrapper{
    display: flex;
    align-items: center;
    background-color: #fd611a;
}