<footer>
    <div class="footer-container">
        <img class="afip-image" src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="">
        <h1 class="footer-title"> Ayuda</h1>
        <h1 class="footer-title"> Trabaja con nosotros</h1>
        <div class="bb-column">
            <div class="images-footer">
                <img class="images-container" src="./assets/images/facebook.png" alt="">
                <img class="images-container" src="./assets/images/instagram.png" alt="">
            </div>
        </div>
    </div>
</footer>