<section class="section-help">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Preguntas frecuentes</h2>
          <ul class="faq-list">
            <li>
              <h3>¿Cómo elegir la notebook adecuada?</h3>
              <p>
                En nuestra tienda, ofrecemos una amplia variedad de notebooks con diferentes especificaciones. Puedes utilizar los filtros de búsqueda para encontrar la notebook que se adapte a tus necesidades, como el tamaño de la pantalla, la potencia del procesador, la capacidad de almacenamiento, etc.
              </p>
            </li>
            <li>
              <h3>¿Cuáles son las opciones de envío?</h3>
              <p>
                Ofrecemos varias opciones de envío, incluyendo envío estándar y envío express. Los tiempos de entrega y los costos varían según la ubicación y la opción de envío que elijas. Puedes obtener más información en nuestra página de envíos.
              </p>
            </li>
            <!-- Agrega más preguntas y respuestas aquí -->
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Contacto de soporte</h2>
          <p>Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en ponerte en contacto con nuestro equipo de soporte:</p>
          <ul class="contact-info">
            <li>
              <i class="fa fa-envelope"></i> Correo electrónico: soporte@computeka.com
            </li>
            <li>
              <i class="fa fa-phone"></i> Teléfono: +123 456 789
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  