<section class="section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Acerca de Nosotros</h2>
          <p>
            En <strong class="title">Computeka</strong>, nos enorgullece ofrecer la mejor selección de notebooks de alta calidad a precios competitivos. Nuestra misión es proporcionar a nuestros clientes productos confiables y un servicio excepcional.
          </p>
          <p>
            Con más de 10 años de experiencia en la industria de la tecnología, hemos establecido relaciones sólidas con los principales fabricantes de notebooks y accesorios. Esto nos permite ofrecer productos de alta calidad a precios asequibles.
          </p>
          <p>
            Nuestro compromiso con la satisfacción del cliente es insuperable. Nuestro equipo de soporte está disponible para ayudarte en todo momento. Creemos que una compra de tecnología debe ser una experiencia sin preocupaciones.
          </p>
        </div>
        <div class="col-md-6">
            <img class="image-logo" src="./assets/images/logo.png" alt="logo">
        </div>
      </div>
    </div>
  </section>
  